<section>
  <header>
    <hgroup>
      <h1>Robert Nolan</h1>
      <h2 id="slogan"></h2>
    </hgroup>
  </header>
  {% include heading.html heading='Talents &amp; Interests' %}
  <article>
    <p>Formally educated in industrial design, my talents blend the art of elegant design with the technical skills of user interation and front-end development.</p>
    <p>My practice is founded on creating rich, purpose-built
      interfaces that encourage discovery. I’m a detail
      driven developer who believes in iteration and constant refinement.</p>
    <p>I'm adept with a wide variety of development tools, but most commonly employ <a href="https://facebook.github.io/react/">React</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://mochajs.org/">Mocha</a> &amp; <a href="https://www.ruby-lang.org/">Ruby</a></p>
    <p>When possible, I enjoy improving my automated farm and tinkering on vintage automobiles.</p>
    <p>I currently reside in <a href="{{ site.location_map_url }}" target="_blank">{{ site.location }}</a> and am available for relocation across North America.</p>
  </article>

</section>
